$select-color: #333;
$select-background: #f5f5f5;
$select-border: 1px solid #ccc;
$select-padding: 10px;

$file-input-bg: #e63434;
$file-input-color: #fbf6f6;
$file-input-border: 1px solid red; // Change border color to red
$file-input-padding: 1rem 4rem;

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    width: 100px;  /* Adjust logo height as needed */
    height: 70px;  /* Adjust logo height as needed */
}

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-item img {
    width: 30px;
    height: 30px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.content {
    padding-top: 1rem;
    .title {
        text-align: center;
        padding: 10px 0px;
        font-size: 3rem;
    }
    h5 {
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        padding: 0;
        margin: 0;
    }

    .select-element {
        display: flex;
        justify-content: center;
        .select-wrapper {
            position: relative;
            display: inline-block;
            width: 200px; /* Adjust width as needed */
        }
          
        select {
            width: 100%;
            padding: $select-padding;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            background-color: $select-background;
            color: $select-color;
            border: $select-border;
            appearance: none; /* Remove default styling */
            outline: none; /* Remove active border */
        }
          
          /* Arrow icon */
        .select-wrapper::after {
            content: '\25BC'; /* Unicode for down arrow */
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            pointer-events: none;
            color: $select-color;
        }
    }
    

    .input-element {
        display: flex;
        justify-content: center;
        padding-top: 2rem;

        .file-input {
            position: relative;
            display: inline-block;
        }
          
        .file-input__input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            overflow: hidden;
            z-index: -1;
        }
          
        .file-input__label {
            font-size: 30px;
            display: inline-block;
            padding: $file-input-padding;
            background-color: $file-input-bg;
            color: $file-input-color;
            border: none; // Remove border from label
            border-radius: 4px;
            cursor: pointer;
        }
    }
}