<nav class="navbar">
  <h2>{{ title }}</h2>
  <ul class="nav-items">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
  </ul>
</nav>

<div class="content">
  <h5 class="title">Image Converter</h5>
  <div class="convert-option">
    <select name="convert-to" id="convert-to">
      <option value="jpeg">JPG TO JPEG</option>
      <option value="png">JPG TO PNG</option>
    </select>
  </div>
  <div class="input-file">
    <input type="file">
  </div>
</div>

<router-outlet></router-outlet>