<nav class="navbar">
  <div class="navbar-brand">
    <img src="../assets/image/converter.png" alt="converter">
  </div>
  <ul class="nav-items">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/nandes007/image-converter" target="_blank">
        <img src="../assets/image/github_icon.jpg" alt="github_icon">
      </a>
    </li>
  </ul>
</nav>

<app-error-message *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-message>
<app-loading *ngIf="isSubmit" [isLoading]="isSubmit"></app-loading>

<div class="content">
  <h5 class="title">Image Converter</h5>
  <div class="select-element">
    <div class="select-wrapper">
      <select name="convert-to" id="convert-to" [(ngModel)]="convertTo" [ngModelOptions]="{ standalone: true }">
        <option value="" disabled>Please Select Option</option>
        <option value="jpeg">JPG TO JPEG</option>
        <option value="png">JPG TO PNG</option>
      </select>
    </div>
  </div>
  <div class="input-element">
    <div class="file-input">
      <input type="file" id="fileInput" class="file-input__input" (change)="onFileSelected($event)">
      <label for="fileInput" class="file-input__label">Choose a file</label>
      <div *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Preview Image" class="preview-image">
      </div>
    </div>
  </div>
  <div *ngIf="imageUrl" class="submit-button">
    <button type="submit" class="custom-button" (click)="doConvert()">
      Convert To 
    </button>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->